@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.body {
    font-family: 'Nunito', sans-serif;
    background-color: #c5f1e7;
}

#logo {
    height: 150px;
}

#navbarNav {
    font-size: 18px;
}

.fto_perro {
    height: 350px;
    width: 650px;
    border-radius: 80px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.desc {
    font-size: 24px;
    text-align: justify;
}

.titulo {
    font-size: 52px;
}

.luna {
    height: 200px;
    width: 300px;
}

.simba {
    height: 200px;
    width: 300px;
}

.max {
    height: 200px;
    width: 300px;
}

.card {
    padding: 2em;
    height: max-content;
    margin-bottom: 2em;
}

.imgs {
    max-width: 100%;
}