.body {
    background-color: #c5f1e7
    ;
}

#logo {
    height: 150px;
}

#navbarNav {
    font-size: 18px;
}

.fto_perro {
    height: 350px;
    width: 650px;
    border-radius: 80px;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.desc {
    font-size: 24px;
    text-align: justify;
}

.titulo {
    font-size: 52px;
}

.luna {
    height: 200px;
    width: 300px;
}

.simba {
    height: 200px;
    width: 300px;
}

.max {
    height: 200px;
    width: 300px;
}